Repository best-shot/best-shot: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
  "*.js": [
    "prettier --write",
    "eslint --fix",
    "git add"
  ],
  "*.{json,html,md,yaml,toml}": [
    "prettier --write",
    "git add"
  ],
  ".lintstagedrc": [
    "prettier --write",
    "git add"
  ]
}

fix: packages/preset-babel/package.json & packages/preset-babel/.snyk to reduce vulnerabilities
  packages/preset-babel/package.json
Due: prettier --write

fix: packages/preset-babel/package.json & packages/preset-babel/.snyk to reduce vulnerabilities
  packages/preset-babel/.snyk
Due: none

fix: packages/core/package.json & packages/core/.snyk to reduce vulnerabilities
  packages/core/package.json
Due: prettier --write

fix: packages/core/package.json & packages/core/.snyk to reduce vulnerabilities
  packages/core/.snyk
Due: none

fix: packages/inspector/package.json & packages/inspector/.snyk to reduce vulnerabilities
  packages/inspector/package.json
Due: prettier --write

fix: packages/inspector/package.json & packages/inspector/.snyk to reduce vulnerabilities
  packages/inspector/.snyk
Due: none

fix: packages/preset-web/package.json & packages/preset-web/.snyk to reduce vulnerabilities
  packages/preset-web/package.json
Due: prettier --write

fix: packages/preset-web/package.json & packages/preset-web/.snyk to reduce vulnerabilities
  packages/preset-web/.snyk
Due: none

Set `esModule` to false
  packages/preset-style/lib/apply-font.js
  packages/preset-style/lib/apply-image.js
  packages/preset-style/lib/apply-stylesheet.js
  packages/preset-style/package.json
  yarn.lock
Due: prettier --write, eslint --fix

Use `babel-preset-evergreen`
  .gitignore
  .yarnrc
  nodemon.json
  package.json
  packages/preset-babel/index.js
  packages/preset-babel/package.json
  packages/preset-babel/preset.js
  yarn.lock
Due: prettier --write, eslint --fix

feat: shippedProposals
  package.json
  packages/preset-babel/index.js
  packages/preset-babel/package.json
  packages/preset-babel/readme.md
  packages/preset-web/index.js
  packages/preset-web/package.json
  packages/preset-web/readme.md
  yarn.lock
Due: prettier --write, eslint --fix

Bug fix
  packages/preset-babel/package.json
  yarn.lock
Due: prettier --write

feat(preset-env): Hide git info in logger
  packages/preset-env/eslint.js
  packages/preset-env/index.js
  packages/preset-env/lib.js
  packages/preset-env/package.json
  packages/preset-env/readme.md
Due: prettier --write, eslint --fix

refactor(preset-style): Use MiniCssExtractPlugin
  packages/preset-style/lib/apply-stylesheet.js
  packages/preset-style/package.json
  packages/preset-vue/index.js
  packages/preset-vue/package.json
  packages/preset-vue/readme.md
  yarn.lock
Due: prettier --write, eslint --fix

refactor(preset-react): Lock peerDependencies
  package.json
  packages/preset-react/index.js
  packages/preset-react/package.json
  yarn.lock
Due: prettier --write, eslint --fix

fix: packages/core/package.json to reduce vulnerabilities
  packages/core/package.json
Due: prettier --write

feat: Better source-map
  packages/preset-web/index.js
  packages/preset-web/package.json
Due: prettier --write, eslint --fix

perf(preset-web): Only use `MinChunkSizePlugin` in production mode
  package.json
  packages/preset-web/lib/apply-split-chunks.js
  packages/preset-web/package.json
  packages/preset-web/readme.md
  yarn.lock
Due: prettier --write, eslint --fix

feat(preset-style): rewriteUrls: `local` for less
  .editorconfig
  .gitattributes
  .gitignore
  LICENSE
  package.json
  packages/preset-style/lib/apply-scss-less.js
  packages/preset-style/package.json
  packages/preset-style/readme.md
  yarn.lock
Due: prettier --write, eslint --fix

ci: sync registry mirror
  .github/workflows/sync.yaml
  .github/workflows/test.yaml
Due: prettier --write

feat(preset-react): Add `@babel/plugin-transform-react-inline-elements`
  packages/preset-babel/package.json
  packages/preset-babel/readme.md
  packages/preset-react/package.json
  packages/preset-react/readme.md
  yarn.lock
Due: prettier --write

refactor(core): chore
  package.json
  packages/core/built-in/apply-tersor.js
  packages/core/package.json
  packages/core/readme.md
  yarn.lock
Due: prettier --write, eslint --fix

feat(preset-babel): ECMAScript 2021
  package.json
  packages/preset-babel/package.json
  packages/preset-babel/readme.md
  yarn.lock
Due: prettier --write

feat(preset-style): ignoreOrder when extract
  packages/preset-style/lib/apply-stylesheet.js
  packages/preset-style/package.json
  yarn.lock
Due: prettier --write, eslint --fix

refactor(core): better error print
  .best-shot/config.js
  package.json
  packages/core/built-in/apply-basic.js
  packages/core/index.js
  packages/core/lib/validator.js
  packages/core/package.json
  packages/preset-style/package.json
  yarn.lock
Due: prettier --write, eslint --fix

test: switch jest to ava
  package.json
  tests/.eslintrc
  tests/base.js
  tests/presets.js
  yarn.lock
Due: prettier --write, eslint --fix

fix(cli): runtime config
  packages/cli/lib/utils.js
  packages/cli/package.json
  yarn.lock
Due: prettier --write, eslint --fix

feat(preset-react): support `airbnb-prop-types`
  jest.config.js
  package.json
  packages/preset-react/index.js
  packages/preset-react/package.json
  yarn.lock
Due: prettier --write, eslint --fix

refactor(cli): runtime
  .best-shot/config.js
  packages/cli/index.js
  packages/cli/lib/action.js
  packages/cli/lib/handle.js
  packages/cli/lib/set-options.js
  packages/cli/lib/utils.js
  packages/cli/package.json
Due: prettier --write, eslint --fix

fix(cli): error handle
  packages/cli/config/globs.json
  packages/cli/config/ignore.json
  packages/cli/index.js
  packages/cli/lib/add-ignore.js
  packages/cli/lib/utils.js
  packages/cli/package.json
  packages/cli/readme.md
Due: prettier --write, eslint --fix

feat(preset-web): yaml support
  packages/preset-web/index.js
  packages/preset-web/lib/apply-data-loader.js
  packages/preset-web/package.json
  packages/preset-web/readme.md
  yarn.lock
Due: prettier --write, eslint --fix

feat(cli): ignore defaults
  packages/cli/config/ignore.json
  packages/cli/lib/handle.js
  packages/cli/package.json
  yarn.lock
Due: prettier --write, eslint --fix

feat(cli): global install check
  packages/cli/index.js
  packages/cli/package.json
  yarn.lock
Due: prettier --write, eslint --fix

docs: delete all files
  .whitesource
  docs/.nojekyll
  docs/index.html
  package.json
  readme.md
  yarn.lock
Due: prettier --write

refactor(inspector): remove lodash
  packages/inspector/lib/action.js
  packages/inspector/lib/concat-str.js
  packages/inspector/package.json
  packages/inspector/readme.md
  yarn.lock
Due: prettier --write, eslint --fix

fix(preset-style): exclude statement
  .best-shot/config.js
  package.json
  packages/preset-style/index.js
  packages/preset-style/lib/apply-stylesheet.js
  packages/preset-style/package.json
  yarn.lock
Due: prettier --write, eslint --fix

chore(deps): update all non-major dependencies
  package.json
  packages/cli/package.json
  packages/core/package.json
  packages/dev-server/package.json
  packages/preset-babel/package.json
  packages/preset-env/package.json
  packages/preset-serve/package.json
  packages/preset-vue/package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency copy-webpack-plugin to v6
  packages/core/package.json
  yarn.lock
Due: prettier --write
