Repository best-shot/best-shot: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
  "*.js": [
    "prettier --write",
    "eslint --fix",
    "git add"
  ],
  "*.{json,html,md,yaml,toml}": [
    "prettier --write",
    "git add"
  ],
  ".lintstagedrc": [
    "prettier --write",
    "git add"
  ]
}

Remove vue-style-loader
  packages/preset-vue/index.js
  packages/preset-vue/package.json
  packages/preset-vue/readme.md
  yarn.lock
Due: prettier --write, eslint --fix

Remove stylelint
  package.json
  packages/preset-style/lib/apply-stylesheet.js
  packages/preset-style/package.json
  yarn.lock
Due: prettier --write, eslint --fix

[WIP] refactor
  .best-shot/config.js
  package.json
  packages/cli/index.js
  packages/cli/lib/add-ignore.js
  packages/cli/lib/handle.js
  packages/cli/lib/set-options.js
  packages/cli/package.json
  packages/dev-server/index.js
  packages/dev-server/lib/error-page.ejs
  packages/dev-server/lib/server.js
  packages/dev-server/package.json
  packages/dev-server/readme.md
  packages/preset-serve/index.js
  packages/preset-serve/package.json
  packages/preset-serve/readme.md
  yarn.lock
Due: prettier --write, eslint --fix

Add webpackDevServerWaitpage
  packages/cli/package.json
  packages/dev-server/lib/error-page.ejs
  packages/dev-server/lib/server.js
  packages/dev-server/package.json
  packages/dev-server/readme.md
  packages/preset-serve/index.js
  packages/preset-serve/package.json
  yarn.lock
Due: prettier --write, eslint --fix

Refactor to `webpack-dev-server` (#94)
  .best-shot/config.js
  package.json
  packages/cli/index.js
  packages/cli/lib/add-ignore.js
  packages/cli/lib/handle.js
  packages/cli/lib/set-options.js
  packages/cli/package.json
  packages/dev-server/error-page.ejs
  packages/dev-server/index.js
  packages/dev-server/lib/server.js
  packages/dev-server/package.json
  packages/dev-server/readme.md
  packages/preset-serve/index.js
  packages/preset-serve/package.json
  packages/preset-serve/readme.md
  yarn.lock
Due: prettier --write, eslint --fix

pin node version in ci
  .circleci/config.yml
  LICENSE
  package.json
  packages/dev-server/package.json
  packages/dev-server/readme.md
  readme.md
  yarn.lock
Due: prettier --write

Use `rebaseStalePrs`
  .circleci/config.yml
  .github/renovate.json
Due: prettier --write

Support `es2020`
  package.json
  packages/preset-babel/index.js
  packages/preset-babel/package.json
  packages/preset-babel/preset.js
  packages/preset-babel/readme.md
  packages/preset-react/index.js
  packages/preset-react/package.json
  packages/preset-react/readme.md
  readme.md
  yarn.lock
Due: prettier --write, eslint --fix

Fix readme of `preset-style`
  packages/preset-style/lib/apply-font.js
  packages/preset-style/lib/apply-image.js
  packages/preset-style/lib/apply-stylesheet.js
  packages/preset-style/package.json
  packages/preset-style/readme.md
  yarn.lock
Due: prettier --write, eslint --fix

Fix Vulnerability of `marked`
  packages/cli/package.json
  packages/core/package.json
  packages/dev-server/package.json
  packages/preset-babel/package.json
  packages/preset-env/package.json
  packages/preset-react/package.json
  packages/preset-vue/package.json
  packages/preset-web/package.json
  yarn.lock
Due: prettier --write

`selectiveLoose` for react-hooks
  packages/preset-react/index.js
  packages/preset-react/package.json
Due: prettier --write, eslint --fix

Add `config.node` to `@best-shot/core`
  package.json
  packages/core/built-in/apply-basic.js
  packages/core/built-in/apply-clean.js
  packages/core/built-in/apply-copy.js
  packages/core/built-in/apply-define.js
  packages/core/built-in/apply-entry.js
  packages/core/built-in/apply-resolve.js
  packages/core/built-in/apply-tersor.js
  packages/core/built-in/index.js
  packages/core/lib/common.js
  packages/core/lib/path.js
  packages/core/lib/presets.js
  packages/core/lib/stack.js
  packages/core/package.json
  packages/core/readme.md
  yarn.lock
Due: prettier --write, eslint --fix

Add default `historyApiFallback`
  package.json
  packages/dev-server/lib/server.js
  packages/dev-server/package.json
  packages/preset-react/package.json
  packages/preset-serve/index.js
  packages/preset-serve/package.json
  yarn.lock
Due: prettier --write, eslint --fix

Add `webpack` to `exclude` of `preset-babel`
  package.json
  packages/preset-babel/index.js
  packages/preset-babel/package.json
  yarn.lock
Due: prettier --write, eslint --fix

`preset-style` : Add `extract-css-chunks-webpack-plugin` to `babel.exclude`
  package.json
  packages/preset-style/index.js
  packages/preset-style/package.json
  yarn.lock
Due: prettier --write, eslint --fix

Additional `babel-plugin-import`
  package.json
  packages/preset-babel/package.json
  packages/preset-babel/readme.md
  packages/preset-react/package.json
  packages/preset-react/readme.md
  yarn.lock
Due: prettier --write

`preset-style` v0.2.0
  .circleci/config.yml
  package.json
  packages/preset-style/lib/apply-stylesheet.js
  packages/preset-style/package.json
  readme.md
  yarn.lock
Due: prettier --write, eslint --fix

Remove `selectiveLoose`
  package.json
  packages/preset-react/index.js
  packages/preset-react/package.json
  packages/preset-web/index.js
  yarn.lock
Due: prettier --write, eslint --fix

Apply babel `bugfixes`
  package.json
  packages/preset-babel/index.js
  packages/preset-babel/package.json
  packages/preset-babel/preset.js
  packages/preset-react/package.json
  yarn.lock
Due: prettier --write, eslint --fix

Use `imagemin-webpack`
  package.json
  packages/preset-style/lib/apply-image.js
  packages/preset-style/package.json
  packages/preset-vue/package.json
  yarn.lock
Due: prettier --write, eslint --fix

Fix bug
  packages/preset-style/lib/apply-image.js
  packages/preset-style/package.json
  yarn.lock
Due: prettier --write, eslint --fix

Option `experimental`
  .github/workflows/test.yaml
  nodemon.json
  package.json
  packages/core/index.js
  packages/core/lib/schema.js
  packages/core/package.json
  packages/preset-style/index.js
  packages/preset-style/lib/apply-scss-less.js
  packages/preset-style/lib/apply-stylesheet.js
  packages/preset-style/package.json
  tests/base.js
  yarn.lock
Due: prettier --write, eslint --fix

docs(preset-react): Fix config example
  .vscode/settings.json
  package.json
  packages/preset-react/readme.md
  yarn.lock
Due: prettier --write

feat(preset): auto resolving css-modules import
  package.json
  packages/preset-style/lib/apply-stylesheet.js
  packages/preset-style/package.json
  yarn.lock
Due: prettier --write, eslint --fix

refactor(preser-web): Use html-webpack-plugin 4.x BREAKING CHANGE:
  packages/preset-web/lib/apply-set-html.js
  packages/preset-web/lib/apply-set-output-name.js
  packages/preset-web/lib/apply-split-chunks.js
  packages/preset-web/package.json
Due: prettier --write, eslint --fix

Auto reboot.
  .best-shot/config.js
  package.json
  packages/cli/index.js
  packages/cli/lib/action.js
  packages/cli/lib/add-ignore.js
  packages/cli/lib/apply.js
  packages/cli/lib/handle.js
  packages/cli/lib/reach.js
  packages/cli/lib/utils.js
  packages/cli/package.json
  packages/dev-server/lib/server.js
  packages/dev-server/package.json
  yarn.lock
Due: prettier --write, eslint --fix

refactor(cl): Remove `reachPackages`
  package.json
  packages/cli/lib/action.js
  packages/cli/lib/globs.json
  packages/cli/lib/handle.js
  packages/cli/lib/reach.js
  packages/cli/lib/utils.js
  packages/cli/package.json
  packages/cli/readme.md
  packages/core/index.js
  packages/inspector/lib/action.js
  packages/inspector/package.json
  yarn.lock
Due: prettier --write, eslint --fix

(preset-styl): lessOptions support
  .best-shot/config.js
  package.json
  packages/preset-style/lib/apply-font.js
  packages/preset-style/lib/apply-image.js
  packages/preset-style/lib/apply-scss-less.js
  packages/preset-style/lib/apply-stylesheet.js
  packages/preset-style/package.json
  packages/preset-style/readme.md
  yarn.lock
Due: prettier --write, eslint --fix

fix: packages/cli/package.json & packages/cli/.snyk to reduce vulnerabilities
  packages/cli/package.json
Due: prettier --write

fix: packages/cli/package.json & packages/cli/.snyk to reduce vulnerabilities
  packages/cli/.snyk
Due: none

fix: packages/preset-serve/package.json & packages/preset-serve/.snyk to reduce vulnerabilities
  packages/preset-serve/package.json
Due: prettier --write

fix: packages/preset-serve/package.json & packages/preset-serve/.snyk to reduce vulnerabilities
  packages/preset-serve/.snyk
Due: none

fix: packages/preset-env/package.json & packages/preset-env/.snyk to reduce vulnerabilities
  packages/preset-env/package.json
Due: prettier --write

fix: packages/preset-env/package.json & packages/preset-env/.snyk to reduce vulnerabilities
  packages/preset-env/.snyk
Due: none

fix: packages/preset-style/package.json & packages/preset-style/.snyk to reduce vulnerabilities
  packages/preset-style/package.json
Due: prettier --write

fix: packages/preset-style/package.json & packages/preset-style/.snyk to reduce vulnerabilities
  packages/preset-style/.snyk
Due: none

fix: packages/preset-react/package.json & packages/preset-react/.snyk to reduce vulnerabilities
  packages/preset-react/package.json
Due: prettier --write

fix: packages/preset-react/package.json & packages/preset-react/.snyk to reduce vulnerabilities
  packages/preset-react/.snyk
Due: none

fix: packages/dev-server/package.json & packages/dev-server/.snyk to reduce vulnerabilities
  packages/dev-server/package.json
Due: prettier --write

fix: packages/dev-server/package.json & packages/dev-server/.snyk to reduce vulnerabilities
  packages/dev-server/.snyk
Due: none
